body {
 background: #fff;
 text-align: center;
 margin: 0;
 padding: 0;
}

#wrapper {
 text-align: left;
 margin: 0 auto;
}

#header
{
  width: 100%;
  background: #000000;
  color: #ffffff;
}


#header h1 span{
}

#header h1 a {
  text-decoration:none;
  color:#fff;
  outline:none;
}

#logo
{
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  height:40px;
  font-size: 40;
  padding-top: 15px
  padding-left: 200px;
}


#menu
{
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  height:40px;
  font-size: 30;
}

#container {
  width:710px;
 
 background: #eee;
}

#examples{
  text-align: right;
}

#btn_submit { 
  float:bottom;
}

#console div.jquery-console-inner { 
 width:100%;
 height:400px; 
 margin: 10px 10px;
 overflow:auto; 
 text-align:left;
 line-height: 1.2em;
}
#console div.jquery-console-message-value {
  color:#0066FF; 
  font-family:monospace;
  padding:0.1em; 
}
#console div.jquery-console-message-text {
  color:#000000; 
  font-family:monospace;
  padding:0.1em; 
}
#console div.jquery-console-welcome
 {
  font-family:monospace;
  padding:0.1em; 
}
#console div.jquery-console-prompt-box {
 color:#333; font-family:monospace; 
}
#console div.jquery-console-focus span.jquery-console-cursor {
 background:#333; color:#eee; font-weight:bold;
}
#console div.jquery-console-message-error {
 color:#ef0505; font-family:monospace;
 padding:0.1em; 
 white-space: pre;
}
#console div.jquery-console-message-success {
 color:#187718; font-family:monospace;
 padding:0.1em; 
}
#console span.jquery-console-prompt-label { 
 font-weight:bold;
}

.error{
 color:#ef0505;
 font-family:monospace;
 padding:0.1em;
 white-space: pre;
}

.value{
 color:#0066FF;
 font-family:monospace;
 padding:0.1em;
}

.timeout{
 color:#cb4b16;
 font-family:monospace;
 padding:0.1em;
}

#buttons {
text-align: left;
 width: 620px;
 margin: 0 auto;
}
#buttons a { 
 color: #fff;
 font-family: Optima, Arial, sans-serif;
 padding: 0em 1em;
 font-weight:normal;
}

#buttons a.last {
 margin-right: 0;
}

#buttons a:hover {
 color: #fff;
 cursor: pointer; 
 background-color: #888888;
}

#changer { 
  width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.25em 0.25em 0.25em 0.25em;
  background: #E8E8FF;
}

#changer h3 {
  color: #555;
}

#changer p {
 background: transparent;
 font-family: serif;
 color: #262680;
}

#changer code {
  background-color: #fff;
  white-space: pre;
  color: #444;
  font-family: monospace;
  padding: 0.25em 0.25em 0.25em 0.25em;
}

#changer code.expr { 

}

div.continue {
 width: 100%;
 text-align: center;
 padding-top: 0.5em; 
}

#instructions {
  width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.25em 0.25em 0.25em 0.25em;
  background: #ffffff;
}

#about {
  text-align: left;
  background: #fff;
  width: 50%;
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 20px;
  margin: 0;
} 

#example_text {
  width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.25em 0.25em 0.25em 0.25em;
  background: #ffffff;
}

#doc {
  text-align: left;
  float: left;
  width: 700px;
  padding: 0.25em 0.25em 0.25em 0.25em;
  background: #eeeeee;
  color: #333333;
}


