<html>
  <head>
    <title>Try Racket</title>
    <link href="/css/tryrkt.css" rel="stylesheet" type="text/css">
    <link href="/css/gh-fork-ribbon.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div class="github-fork-ribbon-wrapper right">
	<div class="github-fork-ribbon">
	  <a href="https://github.com/jarcane/try-racket">Fork me on GitHub</a>
	</div>
      </div>
      <div id="content">
	<div id="container">
	  <textarea class="console" id="console" cols="100" rows="24" autofocus="autofocus">
(module f
  (provide [f (int? . -> . int?)])
  (define (f n)
    (/ 1 (- 100 n))))
(require f)

(• f)
</textarea>

	  <div id="changer">
	    <p class="bottom">Enter a program on the right to verify.</p>
	    <div id="changer_result" class="jquery-consol-message">Result goes here.</div>
	  </div>
	</div>
	<button id="btn_submit" autofocus="autofocus" type="button" onclick="check()">Check</button>
	<div class="footer"><p class="bottom"></p></div>
      </div>

    </div>
    <script src="/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery.console.js" type="text/javascript"></script>
    <script src="/js/tryrkt.js" type="text/javascript"></script>
    <script type="text/javascript">
      evalUrl = "@url";
    </script> 
  </body>
</html>
